[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "public"]
	path = public
	url = git@github.com:seungwoo-lee-518-at-proton-me/seungwoo-lee-518-at-proton-me.github.io.git
	branch = main
